.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;

  > input {
    width: 300px;
  }
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.movie {
  text-align: center;
}

.movie img {
  border-radius: 8px;
}